body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#datetimepicker {
    width: 280px;
}

.clock {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 140px;
}

#HomeDate {
    font-size: 40px;
    text-shadow: 0 0 5px #9d9d9d;
}

.clock ul {
    padding: 0px;
}

    .clock ul li {
        display: inline;
        font-size: 140px;
        text-shadow: 0 0 5px #9d9d9d;
    }

#point {
    animation: mymove 1s ease infinite;
}

@keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #9d9d9d;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #9d9d9d;
    }
}
